@use '/app/styles/_breakpoints.scss' as bp;
@use '/app/styles/_flexbox.scss' as flex;
@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_keyframes.scss' as keyframes;


.default {
  padding: 0 2rem;
}

.header {
  @include flex.col(center, center);
  padding: 1rem 2rem;
  position: relative;
  gap: 1rem;
  text-align: center;
  @media(width > 768px){
  @include flex.row(space-between, flex-start);
    position: fixed;
    width: 100%;
    z-index: 1;
}

  &>div {
    @include flex.row(space-between, center);
    gap: 1rem;
    @media(width < 768px){
      display: none;
    }
  }

}

.primary{
  @extend .header;
  background-color: $primary;
  @media(width > 768px){
    background-color: transparent;
  }
  &>div:nth-child(1) {
    &>div{
      color: $primary-light;
    }
  }
}

.tertiary {
  @extend .header;
  background-color: $tertiary;
  @media(width > 768px){
    background-color: transparent;
  }
  &>div:nth-child(1) {
    &>div{
      color: $primary-light;
    }
  }
}

.secondary {
  @extend .header;
  background-color: $secondary;
  @media(width > 768px){
    background-color: transparent;
  }
  &>div:nth-child(1) {
    &>div{
      color: $primary-light;
    }
  }
}


.spinning-text span {
  transition: 1.5s ease;
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin:0px 150px;
  &:first-letter {
    font-size: .9rem;
    text-transform: capitalize;
  }
}


