@use '/app/styles/_breakpoints.scss' as bp;
@use '/app/styles/_flexbox.scss' as flex;
@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_keyframes.scss' as keyframes;


.default {
  padding: 0 2rem;
}

.header {
  @include flex.col(center, center);
  padding: 1rem 2rem;
  position: fixed;
  gap: 1rem;
  text-align: center;
  width: 100%;
  background-color: $primary;
  z-index: 1;
  @media(width > 768px){
    @include flex.row(space-between, flex-start);
    }

    &>div:first-of-type {
      @include flex.row(center, center);
      gap: 1rem;
      @media(width > 768px){
      @include flex.row(space-between, center);
    }
    }
    &>div:last-of-type {
      display: none;
      @media(width > 768px){
      @include flex.row(space-between, center);
      gap: 2*$default-padding-inset;
    }
  }
}

.primary{
  @extend .header;
  background-color: $primary;
&>div:nth-child(1) {
  &>div{
    color: $primary-light;
  }
}
}

.tertiary {
  @extend .header;
  background-color: $tertiary;
&>div:nth-child(1) {
  &>div{
    color: $primary-light;
  }
}
}

.secondary {
    @extend .header;
    background-color: $secondary;
    &>div:nth-child(1) {
      &>div{
        color: $primary-light;
      }
    }
}


.spinning-text span {
  transition: 1.5s ease;
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin:0px 150px;
  &:first-letter {
    font-size: .9rem;
    text-transform: capitalize;
  }
}


