@use '/app/styles/_breakpoints.scss' as bp;
@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_flexbox.scss' as flex;
@use '/app/styles/_classes.scss' as class;
@use '/app/styles/_keyframes.scss' as keyframes;

.default {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;


  ol {
    height: inherit;
  }
  li {
    height: inherit;
    @extend .font-cap-clamp;
  }
  a {
    height: inherit;
    @extend .capital;
  }
}

.nav{ 
  @extend .default;
  display: none;
  line-height:  2;

  @media( width > 768px ) {
    @include flex.row(center, center);
    transition: all 0.3s ease-in-out;
    line-height: unset;
    gap: 2em;
    a {
      color: $primary;
      height: auto;
      font-weight: 500;

      @media (prefers-color-scheme: dark) {
        &:hover {
          text-shadow: 0px 0px 20px $silver-tint;
        }
      }
      &:hover {
        transform: scale(1.15);
        color: $primary;
      }
    }
  }
}

.mobileNav{
  display: block;
  @extend .default;
  height: auto;
  margin-top: 5em;

  a {
    color: $primary;
    @media (prefers-color-scheme: dark) {
      color: $primary-tint;
    }
  }
  li {
    padding: 1rem 0;
    height: auto;
    padding: $default-padding-inset;
    border-bottom: 1px solid $primary;
    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid $primary-tint;
    }
  }
}

.header {
  @extend .default;
  @include flex.row(space-between, center);
  gap: 1rem;
  flex-wrap: wrap;
  padding: $default-padding-inset $default-padding $default-padding-inset $default-padding;
  @include keyframes.bounceTop();
  @media(width > 768px){
  }
  li{
    flex: 0 0 calc(50% - 1rem);
    position: relative;
    border-bottom: 1px solid $primary;
    line-height: 1.5;
    padding: $default-padding-inset;
    text-align: center;
    &:nth-last-child(1){
      border-bottom: none;
    }
      &:hover{
        @include keyframes.growFont();
        font-weight: 800;
        &:before{
          content: '\270e';
          position: absolute;
          font-weight: 500;
          top: 10%;
          left: 0;
          font-size: 115%;
          width: 32px;
          height: 100%;
          transition: all 0.5s ease-in-out;
          z-index: 1;
          @include keyframes.arrowAtitention();
        }
      }
    @media(width > 768px){
        &:before{
          content: '\270F';
          position: absolute;
          top: 0;
          left: 0;
          width: 32px;
          height: 100%;
          z-index: 1;
        }
    flex: 0 0 calc(50% - 1rem - 2rem);
      &:nth-child(odd){
        margin-right: 1rem;
      }
    }
  }
}

.primary {
  @extend .header;
  li{
    color: $primary-light;
    border-color: $primary-light;
    &:hover{
      color: $primary-light;
    }
  }
}

.tertiary {
  @extend .header;
  li{
    color: $tertiary-light;
    border-color: $tertiary-light;
    &:hover{
      color: $tertiary-tint;
    }
  }
}

.secondary {
  @extend .header;
  li{
    color: $silver;
    border-color: $secondary-light;
    text-shadow: 0px 0px 40px $secondary-light;
    text-align: center;
    &:hover{
      color: $secondary-tint;
    }
  }
}
