//color
$white: #fff;

$silver: #BEBFC5;
$silver-tint: rgba(255, 255, 255, .8);
$purple: rgb(160, 0, 210);

$black: #343437;

$primary: #031d44;
$primary-tint: rgba(3, 40, 78, 0.64);
$primary-light: rgba( 188, 220, 255, 0.9 );

$secondary: rgb(253,157,2);
$secondary-tint: rgba(255,183,6,0.78);
$secondary-light: rgba(251,133,0,0.436);


$tertiary: rgba(79, 28, 78, 1);
$tertiary-tint: rgba(179, 29, 29, 0.7836134282814688);
$tertiary-light: rgba(218, 73, 73, 0.43599438066242124);

// $secondary: rgb(248, 31, 11);
// $secondary-tint: rgba(227,61,51,.2);

//Text
//$primary-text:
$default-text-shadow: 0px 2px 4px $black;
$default-yellow-text-shadow: 0px 2px 4px #ffa726;
//$secondary-text:

//defaults
$default-button-size: 2em;
//border
$default-border-radius: 8px;
//padding
$default-padding: 2em;
$page-padding: .5em 2em;
$page-max-width: 1200px;
$default-padding-inset: .5em;

//hero
$hero-height: 40vh;
$logo-min-width: 120px;
$logo-min-height: 50px;
$logo-max-width: 160px;
//$primary-button:
//$secondary-button:

//height
$header-height: 55px;
//Font family
//$primary-font:
//$secondary-font:

$font-clamp: clamp(.75rem, 2vw, 1rem);
$title-clamp: clamp(1.2rem, 5vw, 1.6rem);
//Font size
$font-size:(
'xs': 12px,
'sm': 14px,
'base': 16px,
'lg': 18px,
'xl': 20px,
'xxl': 24px,
'xxxl': 30px,
);


//breakpoints
$breakpoints: (
'xs': 0,
'sm': 576px,
'md': 768px,
'lg': 992px,
'xl': 1200px,
'xxl': 1400px
);

