@use './_variables.scss' as *;
@use './_flexbox.scss' as flex;
@use './_mixins.scss' as mixins;


body {
    font-size: $font-clamp;
    font-weight: 500;
    min-height: 100dvh;
        cursor: url('../../public/cursor.png');
    > * {
        transition: all .2s ease-in-out;
        cursor: url('../../public/cursor.png'), default;
        }
    main {
      position: relative;
      margin: 0 auto;
        min-width: 350px;
    }

    @media (prefers-color-scheme: dark) {
        background: linear-gradient(90deg, $black 12%, black 75%);
        color: $silver-tint;
        font-weight: 400;
        dialog {
            background-color: $black;
            color: $primary-tint;
            &::backdrop {
                background: linear-gradient(90deg, rgba(27, 27, 27, .7) 12%, rgba(37, 37, 37, .9) 82%);
            }
        }
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: unset;
}

html,
body {
    max-width: 100vw;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: crosshair;
    @media (prefers-color-scheme: dark) {
        color: $primary-tint;
    }
}
