@use '@/app/styles/_breakpoints.scss' as bp;
@use '@/app/styles/_mixins.scss' as mixins;
@use '@/app/styles/_flexbox.scss' as flex;
@use '@/app/styles/_keyframes.scss' as key;
@use '@/app/styles/_variables.scss' as *;
@use '@/app/styles/_classes.scss' as class;

.default{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: $page-max-width;
  margin: 0 auto;
  @include flex.col(flex-start, center);
}

.blue {
  background: $primary;
  background: linear-gradient(180deg, $primary 0%,  $primary-tint 60%, $primary-light 100%);
}

.orange {
  background: $secondary;
  background: linear-gradient(180deg, $secondary 0%, $secondary-tint 60%, $secondary-light 100%);
}
 
.purple {
  background-color: $tertiary;
  background: linear-gradient(180deg, $tertiary 0%, $tertiary-tint 60%, crimson 100%);
}

.row-container{
  @include flex.col(flex-start, center);
  gap: $default-padding;
  height: min-content;
  padding: 0 2rem;
  @include bp.breakpoint(md, min) {
    @include flex.row(center, center);
    gap: 2rem;
  }
}

.section-container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap:  10px;
  color: white;
  border-radius: $default-border-radius;
  min-width: 100px; /* Add a min-width constraint to prevent wrapping on very small screens */
  @media (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    gap:  $default-padding-inset;
  }
  &> a {
    position: relative;
    @include flex.col(center, center);
    border-radius: $default-border-radius;
    min-height: 200px;
    max-height: 250px;
    width: 100%;
    overflow: hidden;
    background-color: $black;
    font-size: 30px;
    text-align: center;
    color: white;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: 10% 50%;
      border-radius: $default-border-radius;
    }
  }
  & label {
    padding: $default-padding-inset;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    background-color: $secondary;
    border-radius: 0 0 $default-border-radius $default-border-radius ;
    cursor: pointer;
    & span {
      display: block;
      font-size: 70%;
      margin-top: $default-padding-inset/2;
      @extend .first-cap;
    }
  }
}

.inner-container{
      max-width: $page-max-width;
      background-color: transparent;
      position: relative;
      margin: 0 auto;
}
