@use '/app/styles/_mixins.scss' as mixins;
@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_breakpoints.scss' as bp;
@use '/app/styles/_keyframes.scss' as key;
@use '/app/styles/_classes.scss';

.default{
@include key.Flash();
  padding: .5rem;
  padding-bottom: 1rem;
  position: fixed;
  right: 0;
  cursor: pointer;
  top: 40%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-radius: 10px 0 0 10px;
  text-align: center;
  background-color: $silver;
  border: 0;
  border-left: 3px outset;
  border-color: $primary-tint;
  transition: all 0.3s ease-in-out;
  line-height: 1;
  &:focus{
    outline: 2px solid $white;
  }

  & >div {
    position: relative;
    width: 100%;
    height: 100%;
  }

    @media (prefers-color-scheme: dark) {
    background-color: transparent;
    }

  &:before{
    //content will be an unicode character arrow down
    content: "\25BC";
    position: absolute;
    left: 0;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media( width > 768px ) {
    top: 20%;
  }
}

.primary {
  @extend .default;
  color: $primary-tint;
  @media (prefers-color-scheme: dark) {
    color: $primary-light;
  }
  &:before{
    color: $primary-tint;
  }
  &:hover{
    color: $primary;
    border-color: $primary-light;
    &:before{
      color: $primary;
    }
  }
}

.tertiary {
  @extend .default;
  color: $tertiary-tint;
  border-left: 3px solid $tertiary-tint;
  &:before{
    color: $tertiary-tint;
  }
  &:hover{
    color: primary-light;
  }
}

.secondary {
  @extend .default;
  color: $secondary;
  border-left: 3px solid $secondary;
  @media (prefers-color-scheme: dark) {
    color: $secondary-tint;
  }
  &:before{
    color: $secondary;
  }
  &:hover{
    color: $tertiary-tint;
    &:before{
      color: $tertiary-tint;
    }
  }
}

.media {
    position: fixed;
    @include key.wooble();
    min-height: 150px;
    top:40%;
    border-radius: $default-border-radius;
    border: $default-border-radius solid;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    width: 80px;
    padding: $default-padding-inset;
    margin-left: calc( 100% - 80px);
    z-index: 1;
  @media( width > 768px ) {
    top: 20%;
  }
    button{
        transition: all 0.3s ease-in-out;
        right: 5px;
        z-index: 1;
        span{
            border-color: $primary-tint;
        }
    }
    &:hover{
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
        button{
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
            right: 7px;
        }
    }
}

.media__primary {
    @extend .media;
    border-color: $primary-tint;
    background-color: $primary-light;
}


.media__tertiary {
    @extend .media;
    border-color: $secondary-light;
    background-color: $silver;
    transition: all 0.3s ease-in-out;
    button{
        span{
            border-color: $secondary-light;
        }
    }
}

.media__secondary {
    @extend .media;
    border-color: $secondary;
    background-color: $silver;
    transition: all 0.3s ease-in-out;
    button{
        span{
            border-color: $secondary-tint;
        }
    }
}

.no-display{
  display: none;
}
