@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_flexbox.scss' as flex;
.default {
  color: teal;
}

.footer{
  padding: $default-padding;
  text-transform: uppercase;
  text-align: center;
  background-color: $silver-tint;
  @include flex.col(center, center);
  gap: 1rem;

  & section {
    width: 100%;
    @include flex.row(center, flex-start);
      gap: 1rem;
    @media( width > 768px){
      gap: 10rem;
    }
  }
  & div {
    @include flex.col(flex-start,flex-start);
    gap: 1rem;
  }
  ul {
    list-style: none;
  }
  &>div {
      @include flex.row(center, center);
      gap: 1rem;
    & textarea{
      border-radius: $default-border-radius;
      padding: 2*$default-padding-inset;
      max-width: calc(100dvi - 16rem);
      min-height: 4rem;
      min-width: 10rem;
    }
    & button{
      padding: $default-padding-inset;
      border-radius: $default-border-radius;
    }
  }
}

.primary{
  @extend .footer;
  background-color: $secondary;
  color: $secondary-tint;

  & textarea{ border-color: $secondary-tint; color: $secondary-light; }
  & button{ border-color: $secondary-tint;
    background-color: $secondary-tint;
    border-style: groove;
    color: $secondary;
    cursor: pointer;
    font-weight: 600;
    &:first-letter{ text-transform: capitalize; }
  }
  & a{ color: $secondary-tint; }
}
.tertiary{
  @extend .footer;
  background-color: $primary;
  color: $primary-light;

  & textarea{ border-color: $primary-tint; 
  color: $primary-light;
}
  & button{ border-color: $primary-tint;
    background-color: $primary-tint;
    border-style: groove;
    color: $primary;
    font-weight: 600;
    &:first-letter{ text-transform: capitalize; }
  }
  & a{ color: $primary-tint; }
}

.secondary{
  @extend .footer;
  background-color: $tertiary;
  color: $tertiary-light;

  & textarea{ border-color: $tertiary-tint; color: $primary-light;
}
  & button{ border-color: $tertiary-tint;
    background-color: $tertiary-light;
    border-style: groove;
    color: $tertiary;
    font-weight: 600;
    &:first-letter{ text-transform: capitalize; }
  }
  & a{ color: $tertiary-tint; }
}
