@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_flexbox.scss' as flex;
.default {
  color: teal;
}
 
.footer{
  padding: 2rem;
  text-align: center;
}

.primary{
  @extend .footer;
  background-color: $secondary;
  color: $white;
}
.tertiary{
  @extend .footer;
  background-color: $primary;
  color: $tertiary-tint;
}
.secondary{
  @extend .footer;
  background-color: $tertiary;
  color: $white;
}
