@use '/app/styles/_mixins.scss' as mixins;
@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_flexbox.scss' as flex;
@use '/app/styles/_breakpoints.scss' as bp;
@use '/app/styles/_keyframes.scss' as key;
@use '/app/styles/_classes.scss';

.portrait {
  width: 300px;
  height: 300px;
  position: relative;
  @media(width > 768px){
  @include key.shakeBottom();
}
img{
  border-radius: 50%;
  filter: drop-shadow(16px 6px 20px gray) invert(75%);
}
figcaption{
  &>div:nth-child(1) {
    //overlay
    position: relative;
    left:0;
    top:0;
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: 1.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(229, 137, 53, 1);
    border-radius: 50%;
    text-align: center; 
    transform-origin:0px 150px;
    background: radial-gradient(circle, transparent 62%, rgba(95,95,93,.7) 5%);
    &>div{
      //spinning text
      @include key.spin(70s);
      transition: 1.5s ease;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      color: $silver;
      >p {
        > span {
          transition: 1.5s ease;
          position: absolute;
          top: 0;
          left: 50%;
          transform-origin:0px 150px;
          &:first-letter {
            font-size: .9rem;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
}

.blue{
  @extend .portrait;
  img{
    filter: drop-shadow(0 -6mm 4mm $primary-light);
  }
}

.orange{
  @extend .portrait;
  img{
    filter: drop-shadow(0 0 0.75rem crimson);
  }
  figcaption{
    &>div:nth-child(1) { &>div{ >p { > span {
      color: gold;
    }}}}}
}

.purple {
  @extend .portrait;
  img{
    filter: drop-shadow(0 -6mm 4mm $purple);
  }
  figcaption{
    &>div:nth-child(1) { &>div{ >p { > span {
      color: $silver-tint;
    }}}}}
}

.card {
  position: relative;
  cursor: pointer;
  &:focus {
    outline: 3px dashed $white;
    border-radius: 2*$default-border-radius;
    border: 3px solid $primary;
  }

  @include flex.col(flex-start, center);
  margin: 1rem 0;
  border-radius: 2*$default-border-radius;
  background-color: $silver;
  gap: 1rem;
  max-width: 295px;
  padding: 1rem;
  border: 1px solid $primary-light;
  @media (prefers-color-scheme: dark) {
    background-color: transparent;

    figcaption{
      > p {
        color: $primary-light;
        max-width: 320px;
        @media( width > 768px ) {
        }
      }
    }
  }
  @media( width > 768px ) {
    flex-direction: column;
    padding-bottom: unset;
  }
  img {
    position: relative !important;
    border-radius: 2*$default-border-radius 2*$default-border-radius 0 0;
    max-height: 255px;
    object-fit: contain;
    @media(width > 768px){
    border-radius: 2*$default-border-radius 0 0 2*$default-border-radius;
    min-height: 125px;
    max-height: 125px;
  }
}
figcaption {
  height: 100%;
  min-height: 20vh;
  @include flex.col(space-around, flex-start);
  border-radius: 0 0 $default-border-radius $default-border-radius;
  padding-left: 1rem;

  & p {
    padding: 1rem;
    @media(width > 768px) {
    padding: 1rem 0;
    }
    &:last-of-type {
      padding-bottom: 1rem;
    }
  }
  @media(width > 768px){
  & h3 {
    color: $primary-tint;
  }
}
& h3 {
  text-transform: uppercase;
  color: $black;
  text-align: center;
}
a {
  color: $primary;
  font-weight: 600;
  text-decoration: underline;
  &::first-letter{
    text-transform: capitalize;
  }
  &::after{
    content: " >";
    display: inline;
  }
}
}
}

.card__blue {
  @extend .card;
  &:hover {
    & figcaption {
      > h3 {
        color: crimson;
        transition: 1.25s ease;
      }
      > p {
        color: $primary-tint;
        transition: 1.75s ease;
        &:last-of-type {
          color: crimson;
        }
      }
    }
  }
  & figcaption {
    > h3{
      color: $primary-tint;
    }
    > p {
      color: $primary;
      &:last-of-type {
        text-decoration: underline;
      }
    }


  }
  @media (prefers-color-scheme: dark) {
    & figcaption{
      > h3{
        color: crimson;
      }
      >p {
        color: $primary-light;
      }
      >a{
        color: $silver-tint;
      }
    }
  }
}

.card__orange {
  @extend .card;
  background-color: $tertiary-light;
  border-color: $secondary-light;
  & figcaption {
    > h3{
      color: crimson;
    }
    > p {
      color: $tertiary-tint;
      &:last-of-type {
        text-decoration: underline;
      }
    }
  }

  &:hover{
    & figcaption{
      > h3{
        color: $secondary-light;
        transition: 1s ease;
      }
      > p {
        color: $secondary-light;
        transition: 1.75s ease;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: transparent;
    border-color: $silver;
    & figcaption{
      & h3 {
        color: $silver;
      }
      >p {
        color: $silver-tint;
      }
      >a{
        color: $silver;
      }
    }
  }
}

.card__purple {
  @extend .card;
  background-color: $tertiary-light;
  border-color: $purple;
  figcaption {
    > h3{
      color: $purple-tint;
    }
    > p {
      color: $primary-light;
      &:last-of-type {
        text-decoration: underline;
      }

    }
    > a{
      color: $primary-light;
      text-decoration-color: $silver-tint;
    }
    @media (prefers-color-scheme: dark) {
      > h3{
        color: $silver-tint;
      }
      >p {
        color: $silver-tint;
      }
      >a{
        color: $silver-tint;
      }
    }
  }
  &:hover{
    background-color: transparent;
    transition: 2s ease;
    & figcaption{
      > h3{
        color: $purple-tint;
      }
      > p {
        color: $primary-light;
      }
      > a{
        color: $purple-tint;
        text-decoration-color: $silver-tint;
      }
    }
  }
  @media (prefers-color-scheme: dark) {
    background-color: transparent;
    border-color: $purple-tint;
  }
}

.icon{
  position: relative;
  margin-top: 1rem;
  cursor: pointer;
  min-width: 25px;
  height: auto;
  width: max-content;
  &:hover {
    transform: scale(1.05);
  }
  &>a:focus {
    outline: 2px solid $white;
    >img{
      @include key.Flash();
    }
  }
  a {
    @include flex.row(flex-start, center);
    position: relative;
    height: 100%;
    width: 100%;
    gap: 25px;
    top: 0;
    left: 0;
    }
    img {
      position: relative !important;
      object-fit: contain;
      object-position: left;
      max-width: 25px;
      @media(width > 768px){
      max-width: 30px;
    }
  }
  figcaption{
    position: relative;
    font-size: 10px;
    color: $white;
    width: max-content;
    @media(width > 768px){
    font-size: 12px;
    }
    }
  }
