@use '/app/styles/_mixins.scss' as mixins;
@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_flexbox.scss' as flex;
@use '/app/styles/_breakpoints.scss' as bp;
@use '/app/styles/_keyframes.scss' as key;
@use '/app/styles/_classes.scss';


.skills {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & figcaption {
    color: $black;
  }
}

.skills__primary{
  @extend .skills;
  & figcaption{
    color: $primary-light;
  }
}

.skills__secondary {
  @extend .skills;
  & figcaption{
    color: $secondary-light;
  }
}

.skills__tertiary {
  @extend .skills;
  & figcaption{
    color: $tertiary-light;
  }
}

.portrait {
  width: 220px;
  height: 220px;
  position: relative;
  margin: 150px auto;
  @include key.shakeBottom();
  @media(width >= 768px){
  margin: 250px auto;

}
img{
  border-radius: 50%;
  position: absolute;
}
figcaption{
  //overlay
  position: relative;
  left:0;
  top:0;
  width: 220px;
  height: 220px;
  overflow: hidden;
  transition: 1.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(229, 137, 53, 1);
  border-radius: 50%;
  text-align: center; 
  background: radial-gradient(circle, transparent 60%, rgba(95,95,93,.7) 10%);
  &>div{
    //spinning text
    @include key.spin(70s);
    transition: 1.5s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    color: $primary;
    > span {
      transition: 1.5s ease;
      position: absolute;
      top: 0;
      left: 50%;
      transform-origin:0px 110px;
      &:first-letter {
        font-size: .9rem;
        text-transform: capitalize;
      }
    }
  }
}
}

.primary{
  @extend .portrait;
  figcaption{
    & span {
      color: $white;
      text-shadow: $default-text-shadow;
    }
    &>div:nth-child(1) {
      background: radial-gradient(circle, transparent 50%, $primary-light 80%);
    }
  }
}

.tertiary {
  @extend .portrait;
  figcaption{
    & span {
      color: $white;
      text-shadow: $default-text-shadow;
    }
    &>div:nth-child(1) { 
      background: radial-gradient(circle, transparent 50%, $tertiary-light 80%);
    }
  }
}

.secondary {
  @extend .portrait;
  figcaption{
    & span {
      color: $white;
      text-shadow: $default-text-shadow;
    }
    &>div:nth-child(1) {
      background: radial-gradient(circle, transparent 50%, $secondary-light 80%);
    }
  }
}

.card {
  @include flex.col(flex-start, center);
  position: relative;
  cursor: crosshair;
  margin: $default-padding 0;
  border-radius: 2*$default-border-radius;
  background-color: $silver-tint;
  gap: 1rem;
  height: 100%;
  padding: $default-padding-inset 2*$default-padding-inset;
  border: 1px solid $primary-light;
  min-width: 220px;
  max-width: 235px;

  @media( width >= 768px ) {
    height: 500px;
    & figure {
      gap: .5rem;
    }
  }
  @media( width > 768px ) {
    flex-direction: column;
    max-width: 285px;
    gap: 2rem;
  }
  &:focus {
    outline: 3px dashed $white;
    border-radius: 2*$default-border-radius;
    border: 3px solid $primary;
    & img {
      transition: .75s ease-in-out;
      border-radius: 2*$default-border-radius;
    }
  }

  &:hover {
    transition: .75s ease-in-out;
    & img {
      transition: .75s ease-in-out;
      border-radius: 2*$default-border-radius;
    }
  }

  & img {
    position: relative !important;
    height: 100%;
    max-height: 95px;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
    margin-bottom: 2*$default-padding-inset;
    flex: 1 1 25%;
    @media(width >= 768px){
    max-height: 125px;
    }
    }
    @media (prefers-color-scheme: dark) {
    background-color: transparent;

    figcaption{
    > p {
    color: $primary-light;
    @media( width > 768px ) {
    }
  }
}
}

& figcaption {
  min-height: 10vh;
  @include flex.col(space-around, flex-start);
  border-radius: 0 0 $default-border-radius $default-border-radius;

  & p {
    padding: 1rem;
    transition: 0.75s ease;
    &:last-of-type {
      padding: 0;
      margin-bottom: 1rem;
    }
  }
  & h3 {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    transition: 0.75s ease;
    @media(width >= 768px){
    color: $primary-tint;
  }
}
a {
  color: $primary;
  font-weight: 600;
  text-decoration: underline;
  &::first-letter{
    text-transform: capitalize;
  }
  &::after{
    content: " >";
    display: inline;
  }
}
}
}

.card__primary {
  @extend .card;
  &:hover {
    border-color: $secondary-light;
    background-color: $silver;
    & figcaption {
      > h3 {
        transition: 1.25s ease;
        color: $secondary-light;
      }
      > p {
        transition: 1.75s ease;
        color: $secondary-light;
      }
    }
  }
  & figcaption {
    > h3{
      color: $primary-tint;
    }
    > p {
      color: $primary-tint;
      &:last-of-type {
        color: $primary-tint;
        text-decoration: underline;
      }
    }


  }
  @media (prefers-color-scheme: dark) {
    & figcaption{
      > h3{
        color: primary-light;
      }
      >p {
        color: $primary-light;
      }
      >a{
        color: $silver-tint;
      }
    }
  }
}

.card__tertiary {
  @extend .card;
  background-color: $tertiary-light;
  border-color: $secondary-light;
  & figcaption {
    > h3{
      color: $primary;
    }
    > p {
      color: $tertiary;
      &:last-of-type {
        text-decoration: underline;
        color: $secondary-light;
      }
    }
  }

  &:hover{
    background-color: $silver-tint;
    & figcaption{
      > h3{
        color: $secondary-light;
      }
      > p {
        color: $secondary-light;
        &:last-of-type {
          color: $black;
        }
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: transparent;
    border-color: $silver;
    & figcaption{
      & h3 {
        color: $silver;
      }
      >p {
        color: $silver-tint;
      }
      >a{
        color: $silver;
      }
    }
  }
}

.card__secondary {
  @extend .card;
  background-color: transparent;
  border-color: $secondary-light;
  figcaption {
    > h3{
      color: $tertiary-tint;
    }
    > p {
      color: $primary-light;
      &:last-of-type {
        text-decoration: underline;
      }

    }
    > a{
      color: $primary-light;
      text-decoration-color: $silver-tint;
    }
    @media (prefers-color-scheme: dark) {
      > h3{
        color: $silver-tint;
      }
      >p {
        color: $silver-tint;
      }
      >a{
        color: $silver-tint;
      }
    }
  }
  &:hover{
    border-color: $tertiary-light;
    background-color: $tertiary-light;
    & figcaption{
      > h3{
        color: $secondary-light;
      }
      > p {
        color: $secondary-light;
        &:last-of-type {
          color: $primary;
        }
      }
      > a{
        color: $secondary-tint;
        text-decoration-color: $silver-tint;
      }
    }
  }
  @media (prefers-color-scheme: dark) {
    background-color: transparent;
    border-color: $secondary-tint;
  }
}

.icon{
  &:hover {
    transform: scale(1.05);
  }
  &:focus {
    outline: 2px solid $white;
    >img{
      @include key.Flash();
    }
  }
  @include flex.row(flex-start, center);
  position: relative;
  background-color: transparent;
  gap: 25px;
  padding: $default-padding-inset;
  transition: .3s;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: $default-border-radius;
  & figure {
    @include flex.row(flex-start, center);
    gap: $default-padding-inset;
    position: relative;
    cursor: crosshair;
    min-width: 25px;
    width: max-content;
    img {
      position: relative !important;
      object-fit: contain;
      background-color: transparent;
      object-position: left;
      height: $default-button-size;
      width: $default-button-size;
      max-width: 25px;
      @media(width > 768px){
      max-width: 30px;
    }
  }
  figcaption{
    position: relative;
    font-size: 10px;
    color: $white;
    width: max-content;
    @media(width > 768px){
    font-size: 12px;
    }
    }
  }
}

.icon__primary {
  @extend .icon;
  &:hover {
    background-color: $secondary;
    border: 1px solid $secondary-tint;
  }
  & figure {
    figcaption {
      color: $secondary-tint;
    }
  }
}

.icon__tertiary {
  @extend .icon;
  &:hover {
    background-color: $primary-tint;
    border: 1px solid $primary;
  }
  & figure {
    figcaption {
      color: $primary-light;
    }
  }
}

.icon__secondary {
  @extend .icon;
  &:hover {
    background-color: $tertiary-tint;
    border: 1px solid $tertiary;
    & figure {figcaption { color: $tertiary}}
  }
  & figure{
    figcaption {
      color: $tertiary-light;
    } 
  }
}
