@use '@/app/styles/_variables.scss' as *;
@use '@/app/styles/_flexbox.scss' as flex;
@use '@/app/styles/_breakpoints.scss' as bp;
@use '@/app/styles/_classes.scss' as class;
@use '@/app/styles/_keyframes.scss' as key;

.default {
    border: none;
    background-color: transparent;
}


.icon {
    @extend .default;
    position: relative;
    width: 32px;
    height: 32px;
}

.hamburger{
    @extend  .default;
    @include flex.col(flex-start, flex-start);
    width: $default-button-size;
    height: $default-button-size;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 2;
    span {
    @include key.Flash();
        width: 100%;
        height: 100%;
        position: relative;
        border-bottom: 2px solid $primary-light;
    }
    @media(width > 768px){
    display: none;
}
&__blue{
    @extend  .hamburger;
    &>span{
        border-bottom: 2px solid $primary-light;
    }
}
&__orange{
    @extend  .hamburger;
    &>span{
        border-bottom: 2px solid crimson;
    }
}
&__purple{
    @extend  .hamburger;
    &>span{
        border-bottom: 2px solid $tertiary-tint;
    }
}
}

.closeHamburger {
    @extend  .default;
    @extend  .first-cap;
    @include flex.col(center, center);
    position: absolute;
    right: 2rem;
    top: 2em;
    height:$default-button-size;
    width: $default-button-size;
    cursor: pointer;
    &>span{
        position: absolute;
        width: 100%;
        height: auto;
        border-bottom: 2px solid $primary-tint;
        &:nth-child(1){
            transform: rotate(45deg);
        }
        &:nth-child(2){
            transform: rotate(-45deg);
        }
        @media (prefers-color-scheme: dark) {
            border-bottom: 2px solid $silver;
        }
    }
}

.close-hamburger__blue{
    @extend  .closeHamburger;
    > span{
        border-color: $primary-light;
    }
}

.close-hamburger__orange{
    @extend  .closeHamburger;
    > span{
        border-color: $silver-tint;
    }
}

.close-hamburger__purple {
    @extend  .closeHamburger;
    > span{
        border-color: $silver;
    }
}

.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px $silver-tint solid;
    cursor: pointer;
}

.blue {
    @extend  .circle;
    background-color: $primary;
}

.orange {
    @extend  .circle;
    background-color: $secondary;
}

.purple {
    @extend  .circle;
    background-color: $tertiary;
}

.black {
    @extend  .circle;
    background-color: $black;
}

.copy-text{
    @include key.Flash();
    padding: .5rem;
    padding-bottom: 1rem;
    position: fixed;
    left: 0;
    cursor: pointer;
    top: 40%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-radius: 0 10px 10px 0;
    border: 0;
    border-right: 3px groove;
    border-color: $primary-tint;
    text-align: center;
    background-color: $silver;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    @media (prefers-color-scheme: dark) {
    background-color: transparent;
    }

    @media (width > 768px){
    left: unset;
    right: 2.7rem;
    top: calc(1rem + 45px);
    position: fixed;
    writing-mode: unset;
    text-orientation: upright;
    border-radius: 0 0 10px 10px;
    border-top: 0px;
    }
    &:before{
        //content will be an unicode character arrow down
        content: "\25BC";
        position: absolute;
        left: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.copy-text__blue {
    @extend  .copy-text;
    color: $primary-tint;
    @media (prefers-color-scheme: dark) {
        color: $primary-light;
        border-color: $primary-light;
    }
    &:hover{
        color: $primary;
        border-color: $primary-light;
    }
    &:active{
        color: $primary;
    }
}

.copy-text__orange {
    @extend  .copy-text;
    color: $tertiary-tint;
    border-color: $tertiary-tint;
    &:hover{
        color: crimson;
    }
}

.copy-text__purple {
    @extend  .copy-text;
    color: $purple;
    border-color: $purple;
    @media (prefers-color-scheme: dark) {
        color: $purple-tint;
    }
    &:hover{
        color: $tertiary-tint;
    }
}
