@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_flexbox.scss' as flex;
@use '/app/styles/_breakpoints.scss' as bp;
@use '/app/styles/_classes.scss' as class;
@use '/app/styles/_keyframes.scss' as key;

.default {
    border: none;
    background-color: transparent;
}


.icon {
    @extend .default;
    position: relative;
    width: 32px;
    height: 32px;
}

.hamburger {
    @extend  .default;
    @include flex.col(flex-start, flex-start);
    width: $default-button-size;
    @include key.bounceTop();
    height: $default-button-size;
    background-image: url('../../../public/brush.svg');
    background-size: contain;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 2;
    &:focus{
        outline: 2px solid $white;
        &>span{
            @include key.Flash();
        }
    }
    span {
    @include key.Flash();
        width: 100%;
        height: 100%;
        position: relative;
        border-top: 2px solid $primary-light;
    }
    @media(width > 768px){
    display: none;
}
&__primary{
    @extend  .hamburger;
}
&__tertiary{
    @extend  .hamburger;
    background-image: url('../../../public/brush-pink.svg');
}
&__secondary{
    @extend  .hamburger;
    background-image: url('../../../public/brush-blue.svg');
}
}

.closeHamburger {
    @extend  .default;
    @extend  .first-cap;
    @include flex.col(center, center);
    position: absolute;
    right: 2rem;
    top: 2em;
    height:$default-button-size;
    width: $default-button-size;
    cursor: crosshair;
    &>span{
        position: absolute;
        width: 100%;
        height: auto;
        border-top: 2px solid $primary-tint;
        &:nth-child(1){
            transform: rotate(45deg);
        }
        &:nth-child(2){
            transform: rotate(-45deg);
        }
        @media (prefers-color-scheme: dark) {
            border-top: 2px solid $silver;
        }
    }
    &:focus{
            outline: 2px solid $white;
    }
}

.close-hamburger__primary{
    @extend  .closeHamburger;
    > span{
        border-color: $primary-light;
    }
    &:focus{
        outline: 2px solid $silver;
            >span{
                @include key.Flash();
            }
    }
}

.close-hamburger__tertiary{
    @extend  .closeHamburger;
    > span{
        border-color: $tertiary-light;
    }
    &:focus{
        outline: 2px solid $tertiary;
            >span{
                @include key.Flash();
            }
    }
}

.close-hamburger__secondary {
    @extend  .closeHamburger;
    > span{
        border-color: $secondary-light;
    }
    &:focus{
        outline: 2px solid $secondary;
            >span{
                @include key.Flash();
            }
    }
}

.circle {
    border-radius: 50%;
    @include key.bounceTop();
    height: 30px;
    width: 30px;
    border: 2px $silver-tint solid;
    cursor: crosshair;
    &:focus{
        outline: 2px solid $white;
    }
}

.primary {
    @extend  .circle;
    background-color: $primary;
    border-color: $secondary;
}

.tertiary {
    @extend  .circle;
    background-color: $tertiary;
}

.secondary {
    @extend  .circle;
    background-color: $secondary;
}

.black {
    @extend  .circle;
    background-color: $black;
}

.copy-text{
    @include key.Flash();
    padding: .5rem;
    padding-bottom: 1rem;
    position: fixed;
    left: 0;
    cursor: crosshair;
    top: 40%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-radius: 0 10px 10px 0;
    border: 0;
    border-right: 3px groove;
    border-color: $primary-tint;
    text-align: center;
    background-color: $silver;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    &:focus{
        outline: 2px solid $white;
    }
    @media (prefers-color-scheme: dark) {
    background-color: transparent;
    }

    @media (width > 768px){
    left: unset;
    right: 2.7rem;
    top: calc(1rem + 45px);
    position: fixed;
    writing-mode: unset;
    text-orientation: upright;
    border-radius: 0 0 10px 10px;
    border-top: 0px;
    }
    &:before{
        //content will be an unicode character arrow down
        content: "\25BC";
        position: absolute;
        left: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.copy-text__primary {
    @extend  .copy-text;
    color: $primary-tint;
    @media (prefers-color-scheme: dark) {
        color: $primary-light;
        border-color: $primary-light;
    }
    &:hover{
        color: $primary;
        border-color: $primary-light;
    }
    &:active{
        color: $primary;
    }
}

.copy-text__tertiary {
    @extend  .copy-text;
    color: $tertiary-tint;
    border-color: $tertiary-tint;
    &:hover{
        color: primary-light;
    }
}

.copy-text__secondary {
    @extend  .copy-text;
    color: $secondary;
    border-color: $secondary;
    @media (prefers-color-scheme: dark) {
        color: $secondary-tint;
    }
    &:hover{
        color: $tertiary-tint;
    }
}
