@use '@/app/styles/_mixins.scss' as mixins;
@use '@/app/styles/_variables.scss' as *;
@use '@/app/styles/_flexbox.scss' as flex;
@use '@/app/styles/_classes.scss';

.container {
  position: relative;
    padding: 25% 0;
  @include flex.row(space-between, flex-start);
  width: 100%;
  flex: 0 0 50%;
  @media(width > 767px){
  }

  button {
    border: none;
    padding: $default-padding-inset;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    margin: 1rem;
    height: 35px;
    width: 35px;
    background-image: url('../../../public/assets/iconos/flecha_gris.svg');
    background-repeat:no-repeat;
    background-size: contain;
    @media(width > 767px){
      width: 45px;
      height: 45px;
    }
    &:first-of-type{
      rotate: 180deg;
    }
  }

  &> section{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    @include flex.row(center, center);
    gap: .5rem;
    span {
      border-radius: 50%;
      background-color: $primary-tint;
      height: 18px;
      width: 18px;
      display: block;
      color: transparent;
      cursor: pointer;
      transition: all ease;
      transition-duration: 1s;
      transform-style: preserve-3d;
    }
  }
  @media(width > 767px){
    flex-direction: row;
    flex: 0 0 50%;
  }
}

.active {
  height: 30px !important;
  width: 30px  !important; 
  background-color: $primary !important;
  border: .5px $silver-tint solid;
}

.slide {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  border: white 1px solid;
  transition: all .370s ease-in-out;
}
