@use '/app/styles/_variables.scss' as *;
@use '/app/styles/breakpoints.scss' as bp;
@use '/app/styles/_keyframes.scss' as key;
@use '/app/styles/flexbox.scss' as flex;

.default {
    @include key.wooble();
    width: 50vw;
    margin-left: 50vw;
    border: $default-border-radius solid;
    border-top: 0;
    border-right: 0;
    border-radius: $default-border-radius 0 0 $default-border-radius;
    padding: 2rem;
    padding-left: 3rem;
    transition: all ease-in-out;
    height: 50dvh;
    &>div{
        @include flex.col(flex-start, flex-start);
        gap: 1rem;
    }
}

.primary{
    @extend .default;
    background-color: $primary-tint;
    border-color: $primary-light;
}

.tertiary {
    @extend .default;
    background-color: $tertiary;
    border-color: $tertiary-light;
}

.secondary {
    @extend .default;
    background-color: $secondary;
    border-color: $secondary-light;
}

.no-display{
    display: none;
    position: unset;
}

.input{
    height:  min-content;
    @include key.slideIN();
    justify-content: flex-end;
    width: min-content;
    margin: 0;
    width: 100%;
    margin-top: 110dvi;
    @media( width >= 768px ) {
        width: min-content;
        bottom: 0;
        margin-top: 30%;
        margin-left: calc(50vw + 100px);
    }
    padding: $default-padding-inset;
    & figure:nth-child(2){
            margin-top: 3.5rem;
        }
}

.input__primary{
    @extend .primary;
    @extend .input;

    & a{
        color: $primary;
    }
}

.input__secondary{
    @extend .secondary;
    @extend .input;
    & figure{
    & a{
        color: $tertiary;
        & figcaption{
            color: $tertiary;
        }
    }
    }
    }

.input__tertiary{
    @extend .tertiary;
    @extend .input;
    & a{
        color: $tertiary;
    }
}
