@use '../../styles/_breakpoints.scss' as bp;
@use '../../styles/_flexbox.scss' as flex;
@use '../../styles/_variables.scss' as *;
@use '../../styles/_classes.scss';

.default{
}

.center{
    text-align: center;
}

.blue {
    @extend .center;
    color: $primary;
    background-color: $primary-light;
}

.orange {
    @extend .center;
    color: $primary;
    background-color: $primary-light;
}

.purple {
    @extend .center;
    color: $primary;
    background-color: $primary-light;
}

.lang {
    text-align: center;
    line-height: 2;
    color: $secondary;
    border-bottom: 1px solid $secondary;
    &:first-letter{
        text-transform: uppercase;
    }
    &:after{
        content: " | \01f442 | \01f4d6 | \01f4dd | \01f465 | ";
    }
}

.lang__blue {
    @extend .lang;
    color: $primary;
    border: 1px solid $primary-light;
}

.lang__orange {
    @extend .lang;
    color: $silver-tint;
    background-color: $tertiary-light;
    border-bottom: 1px solid $silver-tint;
}

.lang__purple {
    @extend .lang;
    color: $silver-tint;
  background-color: $tertiary-light;
    border-bottom: 1px solid $purple-tint;
}
