@use '../../styles/_breakpoints.scss' as bp;
@use '../../styles/_flexbox.scss' as flex;
@use '../../styles/_variables.scss' as *;
@use '../../styles/_classes.scss';
@use '../../styles/_keyframes.scss' as keyframes;

.default{
}

.center{
    text-align: center;
}

.blue {
    @extend .center;
    color: $primary;
    background-color: $primary-light;
}

.orange {
    @extend .center;
    color: $primary;
    background-color: $primary-light;
}

.purple {
    @extend .center;
    color: $primary;
    background-color: $primary-light;
}

.lang {
    display: block;
    text-align: center;
    line-height: 2;
    color: $secondary;
    border-bottom: 1px solid $secondary;
    padding: $default-padding-inset;
    &:first-letter{
        text-transform: uppercase;
    }
    &:focus{
        border: dashed white 2px;
        color: crimson;
    }
    &:after{
        content: " | \01f442 | \01f4d6 | \01f4dd | \01f465 | ";
    }
}

.lang__blue {
    @extend .lang;
    color: $primary;
    border: 1px solid $primary-light;
}

.lang__orange {
    @extend .lang;
    color: $silver-tint;
    background-color: $tertiary-light;
    border-bottom: 1px solid $secondary-light;
}

.lang__purple {
    @extend .lang;
    color: $silver;
    background-color: $tertiary-light;
    border-bottom: 1px solid $purple-tint;
    &:focus{
        color: $white;
    }
}

.about {
    padding: $default-padding-inset 2.5rem;
    @media( width > 768px ) {
        padding: $default-padding-inset 1rem;
    }
}

.about__blue{
    @extend .about;
    color: $primary;
    @media (prefers-color-scheme: dark) {
        color: $primary-light;
    }
        
    }

.about__orange{
    @extend .about;
    color: crimson;
    @media (prefers-color-scheme: dark) {
        color: $silver-tint;
    }
    &:focus{
        color: $white;
        background-color: transparent;
    }
}

.about__purple{
    @extend .about;
    color: $silver;
}
