@use '../../styles/_breakpoints.scss' as bp;
@use '../../styles/_flexbox.scss' as flex;
@use '../../styles/_variables.scss' as *;
@use '../../styles/_classes.scss';

.default{
    word-spacing: 2px;
    & em {
        color: $secondary;
        font-style: normal;
    }
}

.card{
    @extend  .title-cap-clamp;
}

.body{
  @extend .default;
  @extend .first-cap;
  padding: 1rem 1rem 1rem 0;
  color: $primary;
    & a{
        color: inherit;
    }
    @media (prefers-color-scheme: dark) {
        color: $primary-tint;
    }
}

.body-tint {
    @extend .body;
    color: $primary;
    margin: 1rem 0;
    @media( width > 767px ) {
    margin: 2rem 0;
    }
    @media (prefers-color-scheme: dark) {
        color: $primary-tint;
    }
}

.title{
    @extend .default;
    @extend .first-cap;
}

.bold-body{
    @extend .body;
    font-weight: 450;
    color: $silver-tint;
}

.center{
    text-align: center;
}

.blue {
    @extend .center;
    color: $primary;
    background-color: $primary-light;
}

.orange {
    @extend .center;
    color: $primary;
    background-color: $primary-light;
}

.purple {
    @extend .center;
    color: $primary;
    background-color: $primary-light;
}

.lang {
    text-align: center;
    line-height: 2;
    color: $secondary;
    &:first-letter{
        text-transform: uppercase;
    }
    &:after{
        content: " | \01f442 | \01f4d6 | \01f4dd | \01f465 | ";
    }
}

.lang__blue{
    @extend .lang;
    color: $primary;
}
.lang__orange{
    @extend .lang;
    color: $secondary;
}
.lang__purple{
    @extend .lang;
    color: $tertiary;
}
