@use '@/app/styles/_variables.scss' as *;
@use '@/app/styles/_flexbox.scss' as flex;
@use '@/app/styles/_breakpoints.scss' as bp;
@use '@/app/styles/_classes.scss' as class;

.default {
  @include flex.row(center, center);
  position: relative;
  min-height: 100px;
  padding: $default-padding;
  margin-bottom: 2*$default-padding;
  background-color: $primary-tint;

  & section {
    @include flex.col(center, center);
    font-weight: 400;
    color: $primary;
    gap: $default-padding;
    position: relative;
    width: 100%;
    max-width: $page-max-width;

    & h3 {
      text-align: center;
      color: $secondary;
    }
  }
}

.no-margin{
  @extend .default;
  margin: 0;
}
