@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_classes.scss' as class;
@use '/app/styles/_breakpoints.scss' as bp;

.default{
    @extend .first-cap;
}

.center{
    @extend .default;
    @extend .first-cap;
    text-align: center;
}

.title{
    @extend .title-cap-clamp;
    width: 100%;
    font-weight: 400;
    @extend .default;
    font-size: $title-clamp;
    text-align: center;
    margin: 1rem 0;
    border-bottom: 2px solid $secondary;
    @include bp.breakpoint(md, min) {
        text-align: left;
    }
}

.primary {
    @extend .title;
    color: $primary-light;
    border-color: $primary-light;
}

.tertiary {
    @extend .title;
    color: $tertiary-light;
    border-color: $tertiary-light;
}

.secondary {
    @extend .title;
    color: $secondary-light;
    border-color: $tertiary-light;
}

.subtitle{
    text-transform: uppercase;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: $secondary;
    padding: 1em;
    @media(width > 768px){
        padding: 2rem;
    }
}

.subtitle__primary{
    @extend .subtitle;
    color: $primary-tint;
    border-color: $primary-light;
}

.subtitle__tertiary{
    @extend .subtitle;
    color: $tertiary-tint;
    border-color: $tertiary-light;
}

.subtitle__secondary{
    @extend .subtitle;
    color: $secondary-tint;
    border-color: $secondary-light;
}
