@use '/app/styles/_variables.scss' as *;
@use '/app/styles/_classes.scss' as class;
@use '/app/styles/_breakpoints.scss' as bp;
@use '/app/styles/_keyframes.scss' as keyframes;

.default{
    @extend .first-cap;
}

.center{
    @extend .default;
    @extend .first-cap;
    text-align: center;
}

.title{
    text-transform: uppercase;
  @include keyframes.textIN();
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
    padding: 1em;
    margin-top: $default-padding-inset;
}

.primary {
    @extend .title;
    color: $primary-light;
    border-color: $primary-light;
}

.tertiary {
    @extend .title;
    color: $tertiary-light;
}

.secondary {
    @extend .title;
    color: $secondary-tint;
    border-color: $secondary-light;
}

.subtitle{
    text-transform: uppercase;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: $secondary;
    padding: 1em;
    @media(width > 768px){
        padding: 2rem;
    }
}

.subtitle__primary{
    @extend .subtitle;
    color: $primary-tint;
    border-color: $primary-light;
}

.subtitle__tertiary{
    @extend .subtitle;
    color: $tertiary-tint;
    border-color: $tertiary-light;
}

.subtitle__secondary{
    @extend .subtitle;
    color: $secondary-tint;
    border-color: $secondary-light;
}
