@use '@/app/styles/_mixins.scss' as mixins;
@use '@/app/styles/_variables.scss' as *;
@use '@/app/styles/_flexbox.scss' as flex;
@use '@/app/styles/_breakpoints.scss' as bp;
@use '@/app/styles/_keyframes.scss' as key;
@use '@/app/styles/_classes.scss';


.iframe {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  & iframe {
    margin-top: 4rem;
    width: 100%;
    height: 100%;
  }
}
