@use "@/app/styles/_variables.scss" as *;
@use "@/app/styles/_flexbox.scss" as flex;
@use "@/app/styles/_classes.scss" as classes;
@use "@/app/styles/_breakpoints.scss" as bp;

.default {
    width: 100%;
}
.tasks {
    @extend .default;
    text-align: left;
    th {
        padding: $default-padding-inset;
        text-align: center;
        &:nth-child(1) {
            cursor: pointer;
            background-color: $secondary;
            &:hover {
                background-color: $secondary;
            }
            &:active {
                background-color: $primary-hov;
            }
        }
    }
    tbody {
        tr {
            td {
                &:nth-child(1) {
                    width: 100%;
                    max-width: 10%;
                    text-align: center;
                }
                &:nth-child(3) {
                    width: 100%;
                    max-width: 20%;
                    font-size: xx-small;
                    @include bp.breakpoint(md, min){
                        font-size: small;
                    }
                }
                    &:nth-child(4) { //last item
                        cursor: pointer;
                    }
            }
            &:nth-child(odd){
                background-color: #f2f2f2;
            }
        }
    }
}

.paginateContainer {
    @include flex.row(space-between, center );
    gap: 10px;
    width: 100%;
    border: 1px solid $primary;
    border-radius: $default-border-radius;
    padding: $default-padding-inset;
    span{
        @include flex.row( center,  center);
        gap: 10px;
    }
    button {
        &:nth-child(1){
            transform: rotate(180deg);
        }
    }
}
